/* userCenter.wxss  */
page {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 40px;
  }

.info-component {

    width: auto;
    display: inline-block;
  
  .userinfo {
    margin-top: 20px;
    height: 350px;
    width: 100%;
    background: #FFF;
    border: 2px solid rgba(0, 0, 0, .1);
    align-items: center;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition: all 300ms ease;
    position: absolute;
    


  }
  
  .userinfo-avatar {
      align-items: center;
      position: absolute;
      top: 10%;
      margin-right: auto;
      margin-left: auto;
    
  }
  .userinfo-nickname {
    font-size: 32px;
    // margin:auto;
    // width: 50%;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    color: rgb(3, 14, 27);
  }
  
  .userinfo-tip {
    color: #11040470;
    font-size: 28px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
  }
  .userinfo-pencil {
    position: absolute;
    left: 20%;
    top: 60%;
  }
}

  .asked {
    top: 40%;
    width:100%;
    position:absolute;
    background:  #FFF;
  }

  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }