.show {
  display: block;
}

.hide {
  display: none;
}
.questionTitle {
  font-size: 40px;
}

.optionWrapper{
  display: flex;
  flex-direction: row;
}
.optionButton{
  align-items: center;
  flex: 0;
  align-content: content;
  height:100%;
  margin: auto auto;
}
.optionText{
  flex: 1
}

.imageBox {
  width: 100%;
  height: 200px;
}

.image{
  margin: auto auto;
  width: 200px;
}

.settingArea {
  width: 100%;
  display: flex;
}

.checkedSetting {
  flex: 1;
  -webkit-box-flex: 1;
  width: 100%;
  display: block;
  white-space: nowrap;
  box-sizing: border-box;
  margin:auto auto
}